{% extends 'base.html.twig' %}

{% block title %}PetsCare | Mon histoire {% endblock %}

{% block body %}

    <div class="container p-4">
        <div class="row mx-auto w-100 justify-content-around">
            <div class="col-md-3">
                <img src="pictures/ressources/chameleon.jpg" alt="Chaméléon" class="rounded w-100">
            </div>
            <div class="col-md-7 text-justify">
                <h3 class="pc-f-f">Pourquoi PetsCare ?</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda dolor doloremque
                    dolorum
                    exercitationem quis sunt suscipit temporibus voluptates. Accusamus consectetur facilis harum iusto
                    nesciunt
                    numquam similique voluptatum. Alias, labore.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda dolor doloremque
                    dolorum
                    exercitationem quis sunt suscipit temporibus voluptates. Accusamus consectetur facilis harum iusto
                    nesciunt
                    numquam similique voluptatum. Alias, labore.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda dolor doloremque
                    dolorum
                    exercitationem quis sunt suscipit temporibus voluptates. Accusamus consectetur facilis harum iusto
                    nesciunt
                    numquam similique voluptatum. Alias, labore.</p>
            </div>
        </div>
        <hr>
        <div class="row mx-auto w-100 justify-content-around">
            <div class="col-md-7 text-justify">
                <h3 class="pc-f-f">Lorem Ipsum ?</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda dolor doloremque
                    dolorum
                    exercitationem quis sunt suscipit temporibus voluptates. Accusamus consectetur facilis harum iusto
                    nesciunt
                    numquam similique voluptatum. Alias, labore.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda dolor doloremque
                    dolorum
                    exercitationem quis sunt suscipit temporibus voluptates. Accusamus consectetur facilis harum iusto
                    nesciunt
                    numquam similique voluptatum. Alias, labore.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda dolor doloremque
                    dolorum
                    exercitationem quis sunt suscipit temporibus voluptates. Accusamus consectetur facilis harum iusto
                    nesciunt
                    numquam similique voluptatum. Alias, labore.</p>
            </div>
            <div class="col-md-3">
                <img src="pictures/ressources/perroquet.jpg" class="rounded w-100" alt="Perroquet">
            </div>
        </div>
    </div>

{% endblock %}

