{% extends 'base.html.twig' %}

{% block title %}PetsCare | Mon histoire {% endblock %}

{% block body %}

    <div class="container bg-light p-4">
        <h1 class="text-center">Pourquoi PetsCare ?</h1>
        <div style="display:flex; justify-content: space-between">
            <img src="pictures/ressources/chameleon.jpg" alt="Chaméléon" class="float-left m-1 rounded" style="width: 300px;">
            <p class="text-center m-4" style="font-size: 1.7rem">PetsCare à été pensé pour améliorer la qualité de vie de nos compagnons, qu'ils soient poilus, ailé,
                écailleux, nous vivons dans un monde où les animaux sont adopter pour un effet de mode et abandonné
                lorsqu'il devient encombrant...</p>
        </div>
        <div style="clear: both"></div>
        <div style="display:block;">
            <img src="pictures/ressources/perroquet.jpg" class="float-right m-1 rounded" alt="2" style="width: 300px;">
            <p class="text-center m-4" style="font-size: 1.7rem">Les animaux de compagnie sont loyaux et d'une extrême gentillesse envers les leurs, envers vous, c'est
                pourquoi PetsCare, dans la mesure du possible, voudrait vous aider à prendre soin d'eux, via la mise en
                relation simplifiée avec un PetSitter lorsque vous vous absentez, des conseils pour une meilleure
                alimentation, une centralisation d'annonce en tout genre... </p>
        </div>
        <div style="clear: both"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda dolor doloremque dolorum exercitationem quis sunt suscipit temporibus voluptates. Accusamus consectetur facilis harum iusto nesciunt numquam similique voluptatum. Alias, labore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda dolor doloremque dolorum exercitationem quis sunt suscipit temporibus voluptates. Accusamus consectetur facilis harum iusto nesciunt numquam similique voluptatum. Alias, labore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda dolor doloremque dolorum exercitationem quis sunt suscipit temporibus voluptates. Accusamus consectetur facilis harum iusto nesciunt numquam similique voluptatum. Alias, labore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda dolor doloremque dolorum exercitationem quis sunt suscipit temporibus voluptates. Accusamus consectetur facilis harum iusto nesciunt numquam similique voluptatum. Alias, labore.</p>
    </div>

{% endblock %}

