{% extends 'base.html.twig' %}

{% block title %}PetsCare | Accueil{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="jumbotron">
        <h1>Bonjour {% if app.user %} {{ app.user.username }} {% else %} PetsCarer ! {% endif %}</h1>
    </div>
    <div class="container">
        <h2 class="text-center">Les dernières annonces</h2>
        <h3>Les avez-vous vu ?</h3>
        <div class="card-deck m-4">
            {% for subject in petMissing %}
                {% include 'informations/_card.html.twig' %}
            {% endfor %}
        </div>


        <h3 class="text-right">Annonces de Pet Sitting !</h3>
        <div class="card-deck m-4">
            {% for subject in petSitting %}
                {% include 'informations/_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
