<form method="post" action="{{ path('pet_delete', {'id': pet.id}) }}" onsubmit="return confirm('Êtes vous vraiment sûr de vouloir supprimer le profil ({{ pet.name }}) ?');" style="display:inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pet.id) }}">
    <button class="btn btn-danger" style="display: inline;">Supprimer {{ pet.name }}</button>
</form>
