{% extends 'base.html.twig' %}

{% block title %}PetsCare | Edition{% endblock %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container bg-light p-4">
        <h1>Edition de {{ pet.name }}</h1>

        {{ include('pet/_form.html.twig', {'button_label' : 'Enregistrer'}) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.pcSelect').select2();
        });
    </script>
{% endblock %}