{% extends 'base.html.twig' %}

{% block title %}PetsCare | Annonces{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="text-center">Post index</h1>
    </div>
    <div class="container">
        <div class="row m-auto">
            {% for subject in posts %}
                <div class="col-md-4 mb-4">
                    {% include 'informations/_card.html.twig' %}
                </div>
            {% endfor %}
        </div>

        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
