{% extends 'base.html.twig' %}

{% block title %}PetsCare | Nouvelle annonce{% endblock %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container p-4 my-4 text-center">
        <h1 class="pc-f-f">Créer une annonce</h1>
        <div id="slug" style="display: none" data="{{ slug }}"></div>
        {{ include(selectedForm) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{ asset('build/js/post_creation.js') }}"></script>
{% endblock %}