{% extends 'base.html.twig' %}

{% block title %}PetsCare | Nouveau post{% endblock %}

{% block body %}
    <div class="container bg-light p-4">
        <h1>Créer une annonce</h1>

        {{ include('post/_form.html.twig') }}
    </div>
{% endblock %}
