{% extends 'base.html.twig' %}

{% block title %}PetsCare | Nouvelle annonce{% endblock %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container p-4 my-4 text-center">
        <h1 class="pc-f-f">Créer une annonce</h1>
        {{ include(selectedForm) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.pc-select').select2();
        });
    </script>
    <script>
        let addressInput = document.querySelector('#address-input');
        const APPID = 'PngtAZGAQMdWWx2USwgc';
        const APIKEY = 'UhzVA8s3d298__corkYx1FFSANWssBNKTATgvgJMByY';
        if (addressInput !== null) {
            let options = {
                minimumInputLength: 1,
                ajax: {
                    url: 'https://autocomplete.geocoder.ls.hereapi.com/6.2/suggest.json',
                    delay: 250,
                    dataType: 'json',
                    data: function (params) {
                        return {
                            query: params.term,
                            app_id: APPID,
                            app_code: APIKEY,
                            apikey: APIKEY,
                            beginHighlight: '<b class="text-primary">',
                            endHighlight: '</b>',
                            country: 'FRA'
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data.suggestions, function (obj) {
                                return {
                                    id: obj.locationId, text: obj.label.split(', ').reverse().join(', ')
                                };
                            })
                        };
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            };
            /* On selection, hidden inputs catches lat and lng values */
            $('#address-input').select2(options).on('select2:select', function (e) {
                $.getJSON('https://geocoder.ls.hereapi.com/6.2/geocode.json', {
                    app_id: APPID,
                    app_code: APIKEY,
                    apikey: APIKEY,
                    locationId: e.params.data.id
                }).done(function (data) {
                    let location = data.Response.View[0].Result[0].Location;
                    $('#post_job_lat').val(location.DisplayPosition.Latitude);
                    $('#post_job_lng').val(location.DisplayPosition.Longitude);
                    $('#post_job_town').val(location.Address.City);
                })
            });
        }
    </script>
{% endblock %}