{% extends 'base.html.twig' %}

{% block title %}PetsCare | Nouvelle annonce{% endblock %}

{% block body %}
    <div class="container bg-light p-4">
        <h1>Créer une annonce</h1>

        {{ include(selectedForm) }}
    </div>
{% endblock %}
