{% extends 'base.html.twig' %}

{% block title %}PetsCare | Publication{% endblock %}
{% block body %}
    <div class="jumbotron jumbotron-fluid pc-paws m-auto">
        <form name="selection" method="post">
            <div class="row justify-content-around mt-4 m-auto">
                <div class="col d-flex flex-column align-items-center">
                    <button type="submit" name="choice" value="0" class="btn btn-primary">
                        <img src="{{ asset('pictures/ressources/icons/petsitting.svg') }}" alt="Pet Sitting"
                             class="pc-icon">
                    </button>
                    <p class="align-self-center">Pet Sitting</p>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <button type="submit" name="choice" value="2" class="btn btn-primary">
                        <img src="{{ asset('pictures/ressources/icons/adoption.svg') }}" alt="Adoption"
                             class="pc-icon">
                    </button>
                    <p>Adoption</p>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <button type="submit" name="choice" value="1" class="btn btn-primary">
                        <img src="{{ asset('pictures/ressources/icons/missing.svg') }}" alt="Disparition"
                             class="pc-icon">
                    </button>
                    <p>Disparition</p>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <button type="submit" name="choice" value="3" class="btn btn-primary">
                        <img src="{{ asset('pictures/ressources/icons/found.svg') }}" alt="Apercu"
                             class="pc-icon">
                    </button>
                    <p>Apercu</p>
                </div>
            </div>
        </form>
    </div>
    <div class="container p-4">
        <h1 class="text-center">Aidons nous à nous aider</h1>
        <p>Afin d'assurer une qualité optimale d'efficacité, n'hésitez pas à bien documenter vos annonces, une description détaillée laisse peu de place au doute</p>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi dolorum ea esse harum magni
            perspiciatis quas qui quia, totam. Excepturi expedita fugiat itaque mollitia, nisi provident quaerat sit
            suscipit?
        </div>
        <div>Accusantium aperiam dignissimos dolor, doloribus eaque, earum eos eum expedita inventore iste molestias
            nesciunt nisi nostrum obcaecati quaerat quia ratione repudiandae, sequi. Autem corporis enim incidunt sed
            vel vero voluptatem!
        </div>
        <div>Fugit necessitatibus non sint tempore ut? Ab, consectetur dolore dolores in ipsum suscipit tempora? Eaque
            illo illum maxime perferendis quaerat repellat temporibus veritatis voluptatem? Blanditiis quam, quisquam!
            Ea, totam, veniam.
        </div>
        <div>Ad aliquid amet assumenda aut dolor dolore eius eos esse facere illum inventore, ipsum iure labore magni
            minus nemo nulla optio quis quo repellendus rerum similique sint suscipit ut voluptas.
        </div>
    </div>
{% endblock %}