{% extends 'base.html.twig' %}

{% block title %}PetsCare | Modification de vos informations{% endblock %}

{% block body %}
    <div class="container mt-4 text-center">
        <h1 class="my-4 pc-f-f">Modification de profil</h1>

        {{ include('user/_form.html.twig') }}
    </div>
{% endblock %}
