{% extends 'base.html.twig' %}

{% block title %}PetsCare | Modification de vos informations{% endblock %}

{% block body %}
    <div class="container bg-light p-4">
        <h1>Modification de  vos informations</h1>

        {{ include('user/_form.html.twig') }}
    </div>
{% endblock %}
